<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description"> {{template "comm/link.html" .}}
</head>

<body id="page-top">
    {{template "comm/header.html" .}}
    <br>
    <div id="home" class="intro route bg-image" style="background-color: black;">
        <section id="about" class="about-mf sect-pt4 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-shadow-full">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-5">
                                            <div class="about-img">
                                                <img src="static/img/testimonial-2.jpg" class="img-fluid rounded b-shadow-a" alt="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-7">
                                            <div class="about-info" style="color: black;">
                                                <p><span class="title-s">Name: </span> <span>{{.User.Name}}</span></p>
                                                <p><span class="title-s">Profile: </span> <span>{{.User.Profile}}</span></p>
                                                <p><span class="title-s">Email: </span> <span>{{.User.Email}}</span></p>
                                                <p><span class="title-s">Phone: </span> <span>{{.User.Phone}}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill-mf">
                                        <p class="title-s">Skill</p>
                                        <!-- <span>HTML</span> <span class="pull-right">85%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div> -->
                                        {{range $k,$v:=.UserSkill}}
                                        <span>{{$v.SkillName}}</span> <span class="pull-right">{{$v.RatePercent}}</span>
                                        <div class="progress">
                                            {{str2html $v.Process}}
                                        </div>
                                        {{end}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="about-me pt-4 pt-md-0" style="color: black;">
                                        <div class="title-box-2">
                                            <h5 class="title-left">
                                                About me
                                            </h5>
                                            {{range .UserDetail}}
                                            <p class="lead">
                                                {{.}}
                                            </p>
                                            {{end}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <div id="preloader"></div>
        {{template "comm/footer.html" .}}
        </div>
        {{template "comm/script.html" .}}
</body>

</html>